In [1]:
with open('One.txt') as mytext:
    a = mytext.read()

In [2]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [3]:
with open('Two.txt') as mytext:
    a = mytext.read()

In [4]:
a.lower().split()

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [5]:
with open('One.txt') as mytext:
    word_one = mytext.read().lower().split()
    uni_word_one = set(word_one)

In [6]:
with open('Two.txt') as mytext:
    word_two = mytext.read().lower().split()
    uni_word_two = set(word_two)

In [7]:
uni_word_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [8]:
uni_word_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [9]:
all_uni_words = set()

In [10]:
all_uni_words.update(uni_word_one)

In [11]:
all_uni_words.update(uni_word_two)

In [12]:
full_vocab = dict()
i = 0

for word in all_uni_words:
    full_vocab[word] = i
    i = i+1

In [13]:
full_vocab

{'a': 0,
 'pets': 1,
 'canine': 2,
 'furry': 3,
 'are': 4,
 'waves': 5,
 'popular': 6,
 'sport': 7,
 'our': 8,
 'story': 9,
 'dogs': 10,
 'is': 11,
 'about': 12,
 'surfing': 13,
 'water': 14,
 'fun': 15,
 'this': 16,
 'catching': 17,
 'animals': 18}

In [14]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [15]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [16]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] +=1

In [17]:
one_freq

[1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 2, 1, 1, 0, 0, 0, 1, 0, 1]

In [18]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [19]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] +=1

In [20]:
two_freq

[1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 3, 1, 2, 1, 1, 1, 1, 0]

In [22]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [23]:
all_words

['a',
 'pets',
 'canine',
 'furry',
 'are',
 'waves',
 'popular',
 'sport',
 'our',
 'story',
 'dogs',
 'is',
 'about',
 'surfing',
 'water',
 'fun',
 'this',
 'catching',
 'animals']

In [24]:
import pandas as pd

In [25]:
pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

   a  pets  canine  furry  are  ...  water  fun  this  catching  animals
0  1     1       1      1    1  ...      0    0     1         0        1
1  1     0       0      0    0  ...      1    1     1         1        0

[2 rows x 19 columns]

In [26]:
bow = pd.DataFrame(data=[one_freq,two_freq],columns=all_words)

In [27]:
bow

   a  pets  canine  furry  are  ...  water  fun  this  catching  animals
0  1     1       1      1    1  ...      0    0     1         0        1
1  1     0       0      0    0  ...      1    1     1         1        0

[2 rows x 19 columns]